body{
  font-family: Arial;
  background:#f4f6f9;
  text-align:center;
}

.login-box{
  background:white;
  padding:30px;
  width:300px;
  margin:100px auto;
  border-radius:10px;
  box-shadow:0 0 10px #ccc;
}

input{
  width:90%;
  padding:10px;
  margin:10px;
}

button{
  padding:10px 20px;
  background:#1E88E5;
  color:white;
  border:none;
  border-radius:5px;
}
